[submodule "thirdparty/gum"]
	path = thirdparty/gum
	url = https://github.com/OvaUbe/gum
[submodule "cmake/castella"]
	path = cmake/castella
	url = https://github.com/OvaUbe/castella
[submodule "thirdparty/sfml"]
	path = thirdparty/sfml
	url = https://github.com/SFML/SFML
