[submodule "thirdparty/gum"]
	path = thirdparty/gum
	url = https://github.com/OvaUbe/gum
[submodule "cmake/castella"]
	path = cmake/castella
	url = https://github.com/OvaUbe/castella
[submodule "thirdparty/tmxparser"]
	path = thirdparty/tmxparser
	url = https://github.com/sainteos/tmxparser.git
